body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar {
  padding: 40px 100px;
  background-color: black;
  height: 150px;
}

.login-form {
  margin: 100px 0px;
}
